.team {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-top: 20px;
}

.the-shelter {
  padding-top: 30px;
}

.welcome {
  font-size: x-large;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.image {
  width: 70%;
}
