.sad-dog {
    width: 30%;
    text-align: center;
}

.contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.5rem;
}

.contact-submit-button {
    width: 5rem;
    margin: 0 auto;
 }

.contact-page input:user-invalid {
}