.error-page-container {
    margin-top: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.sad-dog {
    width: 800px;
    margin-right: -120px;

}

.home-icon {
    width: 50px;
}




