.teamMemberCard {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
  border: 1px solid #ccc;
  border-radius: 14px;
  justify-content: center;
  background-color: #0077b6;
}

.teamMemberCard img {
  border: 1px solid #ccc;
  border-radius: 100%;
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  justify-content: center;
}
.our-team {
  padding-bottom: 500px;
}
